body{
  background-color: #ccc;
}

table{
  width: 100%;
  height: 100%;
  border-spacing: 0;
  border: 1px solid black;
  border-radius: 2px;
}

td{
  border: 1px solid black;
  font-family: arial;
  font-size: 15px;
  height: 190px;
}

.month{
  font-size: 15px;
  text-decoration: underline;
  color: #145ECC;
  cursor: pointer;
  vertical-align: top;
  margin:0 3px 0 0;
}

th{
  width: 7%;
  font-weight: normal;
  font-family: arial;
}

h1{
  font-family: arial;
  font-size: 50px;
  padding-left: 20px;
  width: 400px;
  color: #0a0a05;
  border-radius: 4px;
  background-color: #bdb36c;
  margin: 0;
}

.current_month{
  text-align: left;
  background-color: #67a2d4;
  border-radius: 4px;
  margin: 3px  0;
  padding: 2px 10px;
  width: 270px;
}

form{
  padding-left: 20px;
}

p{
  margin: 0;
}

#main{
  display: block;
  margin: 0 auto;
}

.field_with_errors{
  color: #de0000;
  font-weight: bold;
  text-decoration: underline;
}

.sign_out{
  color: #fff;
  background-color: #083bf9;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #6081FA;
  border-radius: 3px;
  margin: 0 0 10px 0;
  padding: 0 3px;
  float: right;
  cursor: pointer;
}

#title{
  text-decoration: none;
}

.good{
  color: #006915;
}

.okay{
  color: #0042b5;
}

.bad{
  color: #a60013;
}

.form_container{
  margin:  4px 0 0 0;
  border-radius: 7px;
  background: url('/assets/Calendar.jpg') no-repeat;
  width: 50%;
  padding: 0 0 10px 0;
}

.home{
  font-size: 30px;
  padding: 0 10px;
}

.submit{
  font-size: 18px;
  font-family: arial;
  border-radius: 5px;
  cursor: pointer;
  display: list-item;
}

.field{
  border-radius: 6px;
  font-size: 21px;
  font-family: arial;
  border: solid gray 1px;
  display: list-item;
  padding: 5px;
}

.area{
  border-radius: 6px;
  font-size: 21px;
  font-family: arial;
  border: solid gray 1px;
  display: list-item;
  padding: 5px;

}

.active{
  background: #888;
}

.rate{
  border-radius: 6px;
  font-size: 21px;
  font-family: arial;
  border: solid gray 1px;
  width: 110px;
  height: 31px;
}

.delete{
  color: #d70500;
  text-decoration: none;
  font-size: 15px;
}

.event_h2{
  font-size: 29px;
  margin: 9px 0;
}

.event_info{
  width: 140px;
}

.show_p{
  background-color: #073482;
  border: 1px solid black;
  border-radius: 3px;
  color: #fff;
  width: 70px;
  text-align: center;
}

.show_div{
  margin: 0;
  padding: 9px;
  border-radius: 4px;
  background-color: #ccc;
}

.show{
  font-size: 40px;
  width: 400px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

.description{
  padding: 0 0 0 25px;
  font-size: 23px;
}

.show_rate{
  border: 1px solid black;
  border-radius: 3px;
}

#title{
  color: black;
}

#show_div{
  font-size: 25px;
  font-weight: bold;
}


#calendar_date{
  font-size: 12px;
}
