<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application", media: "all" %>
  <title> Happy Calendar</title>
  <%= csrf_meta_tags %>
</head>


<body>
  <div id= 'main'>
    <h1>
      Happy Calendar
    </h1>
  <%= yield %>
  </div>
</body>
</html>
