<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "application", media: "all" %>
</head>
  <title> Happy Calendar</title>
  <%= csrf_meta_tags %>

  <h1>
    Happy Calendar
  </h1>

</head>
<body>

<%= yield %>

</body>
</html>
